.blog_Div { 
    margin-top: 3rem;
    display: flex;
    align-items: center;
    height: 15vh;
    justify-content: center;
}

.blog_Search {
    height: 50px;
    width: 80%;

}

.blog_Heading, .wave_Div { 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 5rem 0 0 10rem;
}

.blog_Heading h1 { 
    font-size: 96px;
}

.blog_Heading ul { 
    font-size: 24px;
    color: var(--MainColor);
    font-family: var(--MainFont);
    cursor: pointer;
    list-style-type: none;
    padding-left: 0;
}
.blog_Heading li { 
    padding: 0.3rem;
}
.links { 
    text-decoration: none;
    color: var(--MainColor);
    transition: all ease 0.5s;
    
}

.wave_Div button { 
    width: 150px;        
        height: 50px;
        background-color: var(--MainColor);
        color: #fff;
        font-family: var(--MainFont);
        border: none;
        cursor: pointer;

}

.wave_Div p {
    color: var(--descriptonColor);
    font-family: var(--MainFont);
}

.circle_Bottom { 
    margin-top: 5rem;
}
#circle_Push { 
   transform: translateX(5rem);
}